.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.subTitle {
  color: var(--btn);
}

.title {
  font-size: 54px;
}

.desc {
  font-size: 20px;
  font-weight: 300;
  text-indent: 2ch;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--btn)
}
.box p {
  font-style: italic;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

@media (max-width: 768px) {
  .imgContainer {
    display: none;
  }
  .boxes {
    flex-direction: column; 
    gap: 20px; 
    margin-bottom: 50px;
  }
  .box {
    align-items: center;
  }
}