.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 12px;
  font-style: italic;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 50px;
  }
}